{% extends 'base.html.twig' %}
{% block title %}Les Indépendants - Créer une liste {% endblock %}



{% block body %}

<!-- Home -->

	<div class="courseshome">
		<div class="courseshome_background_container prlx_parent">
			<div class="courseshome_background prlx" style="background-image:url(http://127.0.0.1:8000/images/courses_background.jpg)"></div>
		</div>
		<div class="courseshome_content">
			<h1>Créer une liste</h1>
		</div>
	</div>


	<!-- Fonctionnement -->
	<div class="popular page_section">
			<div class="container">

				<div class="row">
					<div class="col">
						<div class="section_title text-center">
							<h1>Etapes</h1>
						</div>
					</div>
				</div>

				<div class="row services_row">

					<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
						{# <div class="icon_container d-flex flex-column justify-content-end">
							<img src="http://127.0.0.1:8000/images/Icones_page_etablissement-1.png" alt="">
						</div> #}
                        <h1 class="icon_number">#1</h1>
						<h3>Etape 1</h3>
						<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
					</div>

					<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
						{# <div class="icon_container d-flex flex-column justify-content-end">
							<img src="http://127.0.0.1:8000/images/Icones_page_etablissement-1.png" alt="">
						</div> #}
                        <h1 class="icon_number">#2</h1>
						<h3>Etape 2</h3>
						<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
					</div>

					<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
						{# <div class="icon_container d-flex flex-column justify-content-end">
							<img src="http://127.0.0.1:8000/images/Icones_page_etablissement-1.png" alt="">
						</div> #}
                        <h1 class="icon_number">#3</h1>
						<h3>Etape 3</h3>
						<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
					</div>

					<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
						{# <div class="icon_container d-flex flex-column justify-content-end">
							<img src="http://127.0.0.1:8000/images/Icones_page_etablissement-1.png" alt="">
						</div> #}
                        <h1 class="icon_number">#4</h1>
						<h3>Etape 4</h3>
						<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
					</div>

					<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
						{# <div class="icon_container d-flex flex-column justify-content-end">
							<img src="http://127.0.0.1:8000/images/Icones_page_etablissement-1.png" alt="">
						</div> #}
                        <h1 class="icon_number">#5</h1>
						<h3>Etape 5</h3>
						<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
					</div>

					<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
						{# <div class="icon_container d-flex flex-column justify-content-end">
							<img src="http://127.0.0.1:8000/images/Icones_page_etablissement-1.png" alt="">
						</div> #}
                        <h1 class="icon_number">#6</h1>
						<h3>Etape 6</h3>
						<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
					</div>

					<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
						{# <div class="icon_container d-flex flex-column justify-content-end">
							<img src="http://127.0.0.1:8000/images/Icones_page_etablissement-1.png" alt="">
						</div> #}
                        <h1 class="icon_number">#7</h1>
						<h3>Etape 7</h3>
						<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
					</div>

					<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
						{# <div class="icon_container d-flex flex-column justify-content-end">
							<img src="http://127.0.0.1:8000/images/Icones_page_etablissement-1.png" alt="">
						</div> #}
                        <h1 class="icon_number">#8</h1>
						<h3>Etape 8</h3>
						<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
					</div>

					<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
						{# <div class="icon_container d-flex flex-column justify-content-end">
							<img src="http://127.0.0.1:8000/images/Icones_page_etablissement-1.png" alt="">
						</div> #}
                        <h1 class="icon_number">#9</h1>
						<h3>Etape 9</h3>
						<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
					</div>

					<div class="col-lg-12 service_item text-left d-flex flex-column align-items-center justify-content-start">
						<div class="icon_container d-flex flex-column justify-content-end">
							<img src="http://127.0.0.1:8000/images/Icones_page_etablissement-1.png" alt="">
						</div>
    
						<h3>Envie de créer une liste ?</h3>
						<p><b>Contact :</b> president@lesindependants.fr.</p>
					</div>

				</div>

			</div>		
	</div>




{% endblock %}