{% extends 'base.html.twig' %}
{% block title %}Les Indépendants - Page Découvrir{% endblock %}



{% block body %}

<!-- Home -->

	<div class="courseshome">
		<div class="courseshome_background_container prlx_parent">
			<div class="courseshome_background prlx" style="background-image:url(http://127.0.0.1:8000/images/courses_background.jpg)"></div>
		</div>
		<div class="courseshome_content">
			<h1>Découvrir</h1>
		</div>
	</div>

    <!-- Qui sont les indépendants -->

	<div class="become">
		<div class="container">

		<div class="row">
			<div class="col">
				<div class="section_title text-center">
					<h1>Qui sont les indépendants ?</h1>
				</div>
			</div>
		</div>
			<div class="row row-eq-height">

				<div class="col-lg-6 order-2 order-lg-1">
					<p class="become_text">Nous sommes une association de parents d'élèves.<br> Nous représentons les parents ...</p>
					<div class="become_button text-center trans_200">
						<a href="#">Adhérer ...</a>
					</div>
				</div>

				<div class="col-lg-6 order-1 order-lg-2">
					<div class="become_image">
						<img src="http://127.0.0.1:8000/images/become.jpg" alt="">
					</div>
				</div>
				
			</div>
		</div>
	</div>

    <!-- Chiffres clés -->

	<div class="milestones">
		<div class="milestones_background" style="background-image:url(http://127.0.0.1:8000/images/milestones_background.jpg)"></div>

		<div class="container">
			<div class="row">
				
				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="http://127.0.0.1:8000/images/milestone_1.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
						<div class="milestone_counter" data-end-value="750">0</div>
						<div class="milestone_text">Etablissements</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="http://127.0.0.1:8000/images/milestone_2.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
						<div class="milestone_counter" data-end-value="120">0</div>
						<div class="milestone_text">Adhérents</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="http://127.0.0.1:8000/images/milestone_3.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
						<div class="milestone_counter" data-end-value="39">0</div>
						<div class="milestone_text">Commisions / an</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="http://127.0.0.1:8000/images/milestone_4.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
						<div class="milestone_counter" data-end-value="3500" data-sign-before="+">0</div>
						<div class="milestone_text">Evènements / an</div>
					</div>
				</div>

			</div>
		</div>
	</div>

    <!-- Le bureau -->

	<div class="become">
		<div class="container">

		<div class="row">
			<div class="col">
				<div class="section_title text-center">
					<h1>Quelles sont les actions des indépendants ?</h1>
				</div>
			</div>
		</div>
			<div class="row row-eq-height">

				<div class="col-lg-6 order-2 order-lg-1">
					<p class="become_text">Nous sommes une association de parents d'élèves.<br> Nous représentons les parents ...</p>
					<div class="become_button text-center trans_200">
						<a href="#">Maternelle</a>
					</div>
                    <div class="become_button text-center trans_200">
						<a href="#">Elémentaire</a>
					</div>
                    <div class="become_button text-center trans_200">
						<a href="#">Collège</a>
					</div>
                    <div class="become_button text-center trans_200">
						<a href="#">Lycée</a>
					</div>
				</div>

				<div class="col-lg-6 order-1 order-lg-2">
					<div class="become_image">
						<img src="http://127.0.0.1:8000/images/become.jpg" alt="">
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- Testimonials -->

	<div class="testimonials page_section">
		<!-- <div class="testimonials_background" style="background-image:url(images/testimonials_background.jpg)"></div> -->
		<div class="testimonials_background_container prlx_parent">
			<div class="testimonials_background prlx" style="background-image:url(http://127.0.0.1:8000/images/testimonials_background.jpg)"></div>
		</div>
		<div class="container">

			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Pourquoi faire partie des Indépendants ?</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					
					<div class="testimonials_slider_container">

						<!-- Testimonials Slider -->
						<div class="owl-carousel owl-theme testimonials_slider">
							
							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="http://127.0.0.1:8000/images/testimonials_user.jpg" alt="">
										</div>
										<div class="testimonial_name">james cooper</div>
										<div class="testimonial_title">Graduate Student</div>
									</div>
								</div>
							</div>

							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="http://127.0.0.1:8000/images/testimonials_user.jpg" alt="">
										</div>
										<div class="testimonial_name">james cooper</div>
										<div class="testimonial_title">Graduate Student</div>
									</div>
								</div>
							</div>

							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="http://127.0.0.1:8000/images/testimonials_user.jpg" alt="">
										</div>
										<div class="testimonial_name">james cooper</div>
										<div class="testimonial_title">Graduate Student</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Bureau -->

    	<div class="become">
		<div class="container">

		</div>
	</div>

	<div class="teachers page_section">
		<div class="container">

			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Le bureau</h1>
					</div>
				</div>
			</div>

			<div class="row">
				
				<!-- Teacher -->
				<div class="col-lg-4 teacher">
					<div class="card">
						<div class="card_img">
							{# <div class="card_plus trans_200 text-center"><a href="#">+</a></div> #}
							<img class="card-img-top trans_200" src="http://127.0.0.1:8000/images/teacher_1.jpg" alt="https://unsplash.com/@michaeldam">
						</div>
						<div class="card-body text-center">
							<div class="card-title"><a href="#">Maria Smith</a></div>
							<div class="card-text">Présidente</div>
						</div>
					</div>
				</div>

				<!-- Teacher -->
				<div class="col-lg-4 teacher">
					<div class="card">
						<div class="card_img">
							{# <div class="card_plus trans_200 text-center"><a href="#">+</a></div> #}
							<img class="card-img-top trans_200" src="http://127.0.0.1:8000/images/teacher_2.jpg" alt="https://unsplash.com/@jcpeacock">
						</div>
						<div class="card-body text-center">
							<div class="card-title"><a href="#">Christian Blue</a></div>
							<div class="card-text">Vice-présidente</div>
						</div>
					</div>
				</div>

				<!-- Teacher -->
				<div class="col-lg-4 teacher">
					<div class="card">
						<div class="card_img">
							{# <div class="card_plus trans_200 text-center"><a href="#">+</a></div> #}
							<img class="card-img-top trans_200" src="http://127.0.0.1:8000/images/teacher_3.jpg" alt="https://unsplash.com/photos/n8jeOSxCRfQ">
						</div>
						<div class="card-body text-center">
							<div class="card-title"><a href="#">James Brown</a></div>
							<div class="card-text">Trésorière</div>
						</div>
					</div>
				</div>

				<!-- Teacher -->
				<div class="col-lg-4 teacher">
					<div class="card">
						<div class="card_img">
							{# <div class="card_plus trans_200 text-center"><a href="#">+</a></div> #}
							<img class="card-img-top trans_200" src="http://127.0.0.1:8000/images/teacher_4.jpg" alt="https://unsplash.com/@seteales">
						</div>
						<div class="card-body text-center">
							<div class="card-title"><a href="#">Julie Denver</a></div>
							<div class="card-text">Trésorière adjointe</div>
						</div>
					</div>
				</div>

				<!-- Teacher -->
				<div class="col-lg-4 teacher">
					<div class="card">
						<div class="card_img">
							{# <div class="card_plus trans_200 text-center"><a href="#">+</a></div> #}
							<img class="card-img-top trans_200" src="http://127.0.0.1:8000/images/teacher_5.jpg" alt="https://unsplash.com/@jaredsluyter">
						</div>
						<div class="card-body text-center">
							<div class="card-title"><a href="#">Julie Denver</a></div>
							<div class="card-text">Secrétaire</div>
						</div>
					</div>
				</div>

				<!-- Teacher -->
				<div class="col-lg-4 teacher">
					<div class="card">
						<div class="card_img">
							{# <div class="card_plus trans_200 text-center"><a href="#">+</a></div> #}
							<img class="card-img-top trans_200" src="http://127.0.0.1:8000/images/teacher_6.jpg" alt="https://unsplash.com/@mehdizadeh">
						</div>
						<div class="card-body text-center">
							<div class="card-title"><a href="#">Julie Denver</a></div>
							<div class="card-text">Secrétaire adjointe</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}