{% extends 'base.html.twig' %}
{% block title %}Les Indépendants - S'informer{% endblock %}



{% block body %}

<!-- Home -->

	<div class="courseshome">
		<div class="courseshome_background_container prlx_parent">
			<div class="courseshome_background prlx" style="background-image:url(http://127.0.0.1:8000/images/courses_background.jpg)"></div>
		</div>
		<div class="courseshome_content">
			<h1>S'informer</h1>
		</div>
	</div>

	<!-- News -->

	<div class="events page_section">
		<div class="container">
			
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Dernières infos</h1>
					</div>
				</div>
			</div>
			
	<!-- News -->

            <div class="news">
                <div class="container">

                    <div class="news_post">
                        <div class="row">
                        
                            <!-- Picture Column -->

                            <div class="col-lg-8">
                                
                                {# <div class="news_posts"> #}
                                    <!-- News Post -->
                                    
                                        <div class="news_post_image">
                                            <img src="http://127.0.0.1:8000/images/news_1.jpg" alt="https://unsplash.com/@dsmacinnes">
                                        </div>
                                    
                                {# </div> #}

                            </div>

                            <!-- Sidebar Column -->

                            <div class="col-lg-4">
                                <div class="sidebar">

                                    <!-- Tags -->

                                    <div class="sidebar_section">
                                        <div class="sidebar_section_title">
                                            <h3>Mots clés</h3>
                                        </div>
                                        <div class="tags d-flex flex-row flex-wrap">
                                            <div class="tag"><a href="#">Stage</a></div>
                                            <div class="tag"><a href="#">Vacances</a></div>
                                            <div class="tag"><a href="#">8-10 ans</a></div>
                                            <div class="tag"><a href="#">Sport</a></div>
                                            <div class="tag"><a href="#">Castelnau-le-lez</a></div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-12">
                                
                                    <!-- News Post -->
                                    <div class="news_post">
                                        <div class="news_post_top d-flex flex-column flex-sm-row">
                                            <div class="news_post_date_container">
                                                <div class="news_post_date d-flex flex-column align-items-center justify-content-center">
                                                    <div>18</div>
                                                    <div>dec</div>
                                                </div>
                                            </div>
                                            <div class="news_post_title_container">
                                                <div class="news_post_title">
                                                    <a href="news_post.html">Pass vacances Vacances Toussaint 2019</a>
                                                </div>
                                                <div class="news_post_meta">
                                                    <span class="news_post_author"><a href="#">Par Claire Rosiaux</a></span>
                                                    {# <span>|</span>
                                                    <span class="news_post_comments"><a href="#">3 Comments</a></span> #}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news_post_text">
                                            <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum. Etiam eu purus nec eros varius luctus. Praesent finibus risus facilisis ultricies.</p>
                                        </div>
                                        <div class="news_post_button text-center trans_200">
                                            <a href="news_post.html">Voir le post</a>
                                        </div>
                                    </div>

                            </div>

                        </div>

                    </div>

                                        <div class="news_post">
                        <div class="row">
                        
                            <!-- Picture Column -->

                            <div class="col-lg-8">
                                
                                {# <div class="news_posts"> #}
                                    <!-- News Post -->
                                    
                                        <div class="news_post_image">
                                            <img src="http://127.0.0.1:8000/images/news_2.jpg" alt="https://unsplash.com/@dsmacinnes">
                                        </div>
                                    
                                {# </div> #}

                            </div>

                            <!-- Sidebar Column -->

                            <div class="col-lg-4">
                                <div class="sidebar">

                                    <!-- Tags -->

                                    <div class="sidebar_section">
                                        <div class="sidebar_section_title">
                                            <h3>Mots clés</h3>
                                        </div>
                                        <div class="tags d-flex flex-row flex-wrap">
                                            <div class="tag"><a href="#">TDAH</a></div>
                                            <div class="tag"><a href="#">France Inter</a></div>
                                            <div class="tag"><a href="#">Hyperactifs</a></div>
                                            <div class="tag"><a href="#">Inattention</a></div>
                                            <div class="tag"><a href="#">Impulsivité</a></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                        </div>

                        <div class="row">

                            <div class="col-lg-12">
                                
                                    <!-- News Post -->
                                    <div class="news_post">
                                        <div class="news_post_top d-flex flex-column flex-sm-row">
                                            <div class="news_post_date_container">
                                                <div class="news_post_date d-flex flex-column align-items-center justify-content-center">
                                                    <div>18</div>
                                                    <div>dec</div>
                                                </div>
                                            </div>
                                            <div class="news_post_title_container">
                                                <div class="news_post_title">
                                                    <a href="news_post.html">Les enfants hyperactifs (TDAH)</a>
                                                </div>
                                                <div class="news_post_meta">
                                                    <span class="news_post_author"><a href="#">Par Claire Rosiaux</a></span>
                                                    {# <span>|</span>
                                                    <span class="news_post_comments"><a href="#">3 Comments</a></span> #}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news_post_text">
                                            <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum. Etiam eu purus nec eros varius luctus. Praesent finibus risus facilisis ultricies.</p>
                                        </div>
                                        <div class="news_post_button text-center trans_200">
                                            <a href="news_post.html">Voir le post</a>
                                        </div>
                                    </div>

                            </div>

                        </div>

                    </div>


                    <!-- Page Nav -->

                    <div class="news_page_nav">
                        <ul>
                            <li class="active text-center trans_200"><a href="#">01</a></li>
                            <li class="text-center trans_200"><a href="#">02</a></li>
                            <li class="text-center trans_200"><a href="#">03</a></li>
                        </ul>
                    </div>

                </div>
            </div>
				
		</div>
	</div>




{% endblock %}