{% extends 'base.html.twig' %}

{% block title %}New SchoolLevel{% endblock %}

{% block body %}
    <h1>Create new SchoolLevel</h1>

    {{ include('school_level/_form.html.twig') }}

    <a href="{{ path('school_level_index') }}">back to list</a>
{% endblock %}
