{% block top %}

<!-- Top page -->

	<div class="courseshome">
		<div class="courseshome_background_container prlx_parent">
			<div class="courseshome_background prlx" style="background-image:url(http://127.0.0.1:8000/images/maternelle.jpg )"></div>
		</div>
		<div class="courseshome_content">
			<h1>Maternelle</h1>
		</div>
	</div>

{% endblock %}